[core]
	ignorecase = false
[pull]
	rebase = false
[commit]
	gpgsign = true
[merge]
	conflictstyle = diff3
[include]
  path = .gitconfig.local
[alias]
	co = checkout
	b = branch
	c = commit
	s = status
	p = pull
	ps = push
	d = diff
	sw = swtich
[init]
	defaultBranch = master
