[submodule ".local/share/tmux/sensible"]
	path = .local/share/tmux/sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".local/share/tmux/fingers"]
	path = .local/share/tmux/fingers
	url = https://github.com/Morantron/tmux-fingers
[submodule ".local/share/nvim/site/pack/mini/opt/mini.pick"]
	path = .local/share/nvim/site/pack/bundle/opt/mini.pick
	url = https://github.com/nvim-mini/mini.pick.git
[submodule ".local/share/nvim/site/pack/bundle/opt/surround"]
	path = .local/share/nvim/site/pack/bundle/opt/nvim-surround
	url = https://github.com/kylechui/nvim-surround.git
