# visible ring
set visible-stats on

set show-all-if-ambiguous on
set completion-ignore-case on
set colored-completion-prefix on
set colored-stats on

# TAB:menu-complete
## shift-tab
# "\e[Z":menu-complete-backward
C-g: menu-complete
"\e\C-?": backward-kill-word

